@import 'assets/styles/_colors';

.menu {
  list-style: none;
  width: 300px;
  &__item {
    border: 1px solid $grey;
    letter-spacing: 5px;
    padding: 15px 0px;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      background-color: $grey;
      cursor: pointer;
    }
  }
}