@import 'assets/styles/_colors';

.welcome {
  text-align: center;
  &__title {
    font-size: 50px;
  }

  &__label {
    font-size: 20px;
  }

  &__msg {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    color: $yellow;
  }

  &__images {
    display: flex;
    justify-content: center;

    img {
      height: 15vh;
    }
  }
}