@import 'assets/styles/_colors';

.welcome {
  &__title {
    font-size: 40px;
  }

  &__label {
    font-size: 20px;
  }

  &__msg {
    font-size: 45px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    color: $yellow;
  }
}