@import 'assets/styles/_colors';

.film-resume {
  display: flex;
  flex-direction: column;
  font-size: 20px;

  &__title {
    font-size: 60px;
    margin-bottom: 15px;
  }

  &__data {
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
    
    &-img {
      margin-right: 20px;
      img {
        height: 40vh;
      }
    }

    &-resume {
      margin-top: 20px;
    }
  }
}