@import 'assets/styles/_colors';

.item-list {
  list-style: none;
  padding: 0;

  &__item {
    display: flex;
    align-items: center;
    border: 1px solid $grey;

    &-label {
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-left: 5px;
    }

    &:hover {
      cursor: pointer;
      background-color: $grey;
    }
  }
}