@import 'assets/styles/_colors';

.item-list {
  list-style: none;
  padding: 0;
  width: 400px;

  & li {
    padding: 10px;
    border: 1px solid $grey;

    &:hover {
      cursor: pointer;
      background-color: $grey;
    }
  }
}